body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd ;
   
    
}

.table, tr {
    /* border: 1px solid rgb(143, 137, 137); */
    width: 80%;
   
}

.table td,
.table th {
    padding: 12px 15px;
    text-align: left !important;
    font-size: 14px;
}

.table th {
    color: #8f8b8b;
}


/* SideNav */

#sidebar {
    position: absolute;
    width: 10%;
    height: 25%;
    float: right;
    right: 0;
    margin-top: 100px;
    /* background-color: #ddd; */
    margin-right: 15px;
    margin-top: 110px;
    display: none;
    /*  */
}

#sidebar li {
    color: rgb(77, 73, 73);
    font-size: 16px;
    margin-right: 70px;
    padding: 12px 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.toggle-btn {
    position: absolute;
    right: 160px;
    top: 175px;
    margin-left: 10px;
    cursor: pointer;
}

.toggle-btn2 {
    position: absolute;
    right: 160px;
    top: 215px;
    margin-left: 10px;
    cursor: pointer;
}

.toggle-btn3 {
    position: absolute;
    right: 160px;
    top: 260px;
    margin-left: 10px;
    cursor: pointer;
}
hr {
position: absolute;
width: 75%;
margin-left: 150px;
margin-right: auto;
margin-top: 140px;
}

.hr2{
    position: absolute;
    width: 75%;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 185px;
}
.hr3 {
    position: absolute;
    width: 75%;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 225px;
}

.hr4 {
    position: absolute;
    width: 75%;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 185px;
}




span {
    width: 5px;
    height: 5px;
    position: relative;
    margin:-1px;
    display: inline-flex;
    background-color: black;
    border-radius: 50%;
}

toggle-btn:hover+#sidebar {
    color: black;
    display: block;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 0px;
    overflow: visible;
    position: relative;
    width: 65px;
    height: 5px;
    margin-top: 100px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 1130px;
    z-index: 1;
    overflow: visible;
    margin-top: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -50px;
    margin-left: 40px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
   
}


/*  */

.dropdown2 {
    position: absolute;
    display: inline-block;
    margin-left: 1145px;
    z-index: 1;
    overflow: visible;
    margin-top:190px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
     min-width:90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   margin-left: 20px;
    margin-top: -50px;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}


/*  */

.dropdown3 {
    position: absolute;
    display: inline-block;
    margin-left: 1145px;
    z-index: 1;
    overflow: visible;
    margin-top: 232px;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -50px;
    margin-left: 20px;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content3 a:hover {
    background-color: #ddd;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}


/*responsive*/

@media(max-width: 768px) {
    .table {
        margin-top: 0px;
        width: 100%;
    }
hr,
.hr2,
.hr3,
.hr4{
    display: none;
}
    .table thead {
        display: none;
    }
.thead tr{
    font-size: 10px;
}
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
        border: none;
        font-size: 12px;
        text-align: justify;
    }

    .table tr {
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }

    .table td {
        /* text-align: right; */
        padding-left: 20%;
        text-align: left;
        position: relative;
        padding-right: 150px;
        width: 100%;
        flex-wrap: nowrap;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 15px;
        font-size: 12px;
        text-align: left;
    }

    .dropdown {
        display: block;
        margin-left: 200px;
        margin-top: -70px;
        right: 0 !important;
    }

    .dropdown-content {
        margin-top: 0px;
        margin-left: -40px;
       font-size: 12px;
       width: 60px;
        height: 115px;
    }

    .dropdown2 {
        display: block;
        margin-left: 220px;
        margin-top: 170px;
        right: 0 !important;
        margin-right: 30px;
    }

    .dropdown-content2 {
        margin-top: 0px;
        margin-left: -60px;
        width: 60px;
        height: 115px;
        font-size: 12px;
    }

    .dropdown3 {
        display: block;
        margin-left: 220px;
        margin-top: 300px;
        right: 0 !important;
        margin-right: 30px;
    }

    .dropdown-content3 {
        margin-top: 0px;
        margin-left: -50px;
        width: 60px;
        height: 110px;
        font-size: 12px;
    }

    span{
        width: 5px;
        height: 5px;
        margin: -1.5px;
      
    }

}
